<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Player API Tests" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="com.player.listeners.TestListener"/>
    </listeners>
    <test name="All Tests">
        <packages>
            <package name="com.player.tests"/>
        </packages>
    </test>
</suite>
